<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>NAV + template tagging</title>
  </head>
  <body>
    <nav class="nav">
      <a class="nav-link active" href="{% url 'index' %}">BRAND</a>
      <a class="nav-link" href="{% url 'admin:index' %}">ADMIN</a>
      <a class="nav-link" href="{% url 'basic_app:other'%}">Other</a>
      <a class="nav-link disabled" href="#">Disabled</a>
    </nav>
    <div class="container">
      {% block body_block %}
      <!-- Aythng outside of this will be inherited if extended -->
      {% endblock %}
   </div>
  </body>
</html>
